<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{mainlayout.html}">

<head>
    <title>Layout</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10">
                        <form method="POST" th:action="@{/mitarbeiter/kunde/kontosuche}" th:object="${konto}" id="registerForm">
                            <h1> Kontosuche </h1>
                            <input type="text" placeholder="enter something here .." th:field="*{kontonummer}" name="searcha">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>