<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{mainlayout.html}">

    <title>Spar/KREDIT/GIROKontoDetail Page</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid">
            <h3 class="pt-3 pl-3" th:text="${'KontoDetail - ' + konto.getKontonummer()}">KontoDetail</h3>
            <hr>
            <div th:if="${zahlungsAuftragGespeichert}">
                <div class="alert alert-success ">
                    Der Zahlungsauftrag wurde erfolgreich gespeichert.
                </div>
            </div>
            <div th:if="${dauerAuftragGespeichert}">
                <div class="alert alert-success ">
                    Der Dauerauftrag wurde erfolgreich gespeichert.
                </div>
            </div>
            <div th:if="${dauerAuftragStorniert}">
                <div class="alert alert-success ">
                    Der Dauerauftrag wurde erfolgreich storniert.
                </div>
            </div>
            <div th:if="${kontoBuchungDurchgefuehrt}">
                <div class="alert alert-success ">
                    Die KontoBuchung wurde erfolgreich durchgeführt.
                </div>
            </div>
            <div th:if="${noChanges}">
                <div class="alert alert-info">
                    Keine Änderungen durchgeführt.
                </div>
            </div>
            <div th:if="${transitionNotPossible}">
                <div class="alert alert-danger">
                    Status konnte nicht umgestellt werden.
                </div>
            </div>
            <div th:if="${saldoNotZero}">
                <div class="alert alert-danger">
                    Saldo muss zuerst auf 0,00 €.
                </div>
            </div>
            <div th:if="${kontoClosed}">
                <div class="alert alert-success">
                    Die Kontoschließung wurde erfolgreich durchgeführt. Aktive Aufträge werden ggf. storniert.
                </div>
            </div>
            <div th:if="${kontoOpened}">
                <div class="alert alert-info">
                    Die KontoEröffnung wurde erfolgreich durchgeführt. Aufträge wurden ggf. bearbeitet.
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-xl-10 pt-4">


                    <div class="accordion" id="accordionKontoBearbeitung"  >
                        <div class="card">
                            <div class="card-header" id="headingKontoBearbeitung" >
                                <div class="row">
                                    <div class="col-3 pl-0">
                                        <h2 class="mb-0">
                                            <button class="btn btn-outline-dark text-left float-left" data-target="#collapseKontoBearbeitung", aria-controls="collapseKontoBearbeitung" type="button" data-toggle="collapse" aria-expanded="true">
                                                Status Bearbeiten.
                                            </button>
                                        </h2>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right text-secondary mp-0 small" th:text="${'Name: ' + kunde.nachname + ', ' + kunde.vorname}"> Name: Der Herr mim Gwehr </div>
                                        <div class="text-right text-secondary mp-0 small">
                                            <span th:text="'Status: '"></span>
                                            <span th:classappend="${kunde.Active ? 'text-success' : 'text-danger'}" th:text="${kunde.Active ? 'Aktiv, ' : 'Inaktiv, '}"></span>
                                            <span th:classappend="${kunde.legi ? 'text-success' : 'text-danger'}" th:text="${kunde.legi ? 'Legitimiert, ' : 'nicht Legitimiert, '}"></span>
                                            <span th:classappend="${kunde.hasAcceptedAGB ? 'text-success' : 'text-danger'}" th:text="${kunde.hasAcceptedAGB ? 'AGB' : 'AGB fehlt'}"></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-right text-secondary mp-0 small" th:text="${'Adresse: ' + kunde.adresse.strasse}"></div>
                                        <div class="text-right text-secondary mp-0 small" th:text="${kunde.adresse.plz + ' ' + kunde.adresse.ort + ', ' + kunde.adresse.land}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" data-parent="#accordionKontoBearbeitung" id="collapseKontoBearbeitung" aria-labelledby="headingKontoBearbeitung" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h2>Status Übersicht</h2>
                                        </div>
                                    </div>
                                    <form th:action="${konto.getClass().getSimpleName() == 'SparKonto'} ? @{/mitarbeiter/kunde/sparen/konto/saveSparKontoDetailPage} : (${konto.getClass().getSimpleName() == 'KreditKonto'} ? @{/mitarbeiter/kunde/kredit/konto/saveKreditKontoDetailPage} : @{/mitarbeiter/kunde/giro/konto/saveGiroKontoDetailPage})"
                                          method="POST" th:object="${konto}">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="kontonummer">Kontonummer: </label>
                                                <input type="text" id="kontonummer" class="form-control" name="kontonummer" th:field="*{kontonummer}" readonly/>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="eroeffnungsDatum">Eröffnungs Datum: </label>
                                                <input type="text" id="eroeffnungsDatum" class="form-control" name="eroeffnungsDatum" th:field="*{eroeffnungsDatum}" readonly/>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="aktSaldo">Aktueller Saldo: </label>
                                                <input type="text" id="aktSaldo" class="form-control" name="aktSaldo" th:field="*{aktSaldo}" readonly/>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="kontoStatus">Konto Status: </label>
                                                <select id="kontoStatus" class="form-control" th:field="*{kontoStatus}">
                                                    <option th:each="statusOption : ${T(at.blo0dy.SpringBank.model.enums.KontoStatusEnum).values()}"
                                                            th:value="${{statusOption}}"
                                                            th:selected="${statusOption == T(at.blo0dy.SpringBank.model.enums.KontoStatusEnum)}"
                                                            th:text="${statusOption.getDisplayName()}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-8">
                                                <button type="submit" class="btn btn-info">Speichern</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class=" col-sm-12 col-xl-10 pt-4">
                    <div class="accordion" id="accordionKonto">
                        <div class="card">
                            <div class="card-header" id="headingKonto">
                                <div class="row">
                                    <div class="col-3 pl-0">
                                        <h2 class="mb-0">
                                            <div class="btn-group dropdown">
                                                <button class="btn btn-outline-dark text-left float-left" data-target="#collapseKonto" aria-controls="collapseKonto" type="button" data-toggle="collapse" aria-expanded="true">
                                                    Buchungen einsehen
                                                </button>
                                                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/konto/showKontoBuchungForm(kontoId=${konto.id})}">Buchung Anlegen</a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Separated Action</a>
                                                </div>
                                            </div>
                                        </h2>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right text-secondary mp-0 small" th:text="'Inhaber: ' + ${kunde.nachname} + ', ' + ${kunde.vorname}"> Inhaber:</div>
                                        <div class="text-right text-secondary mp-0 small" th:text="'Status: ' + ${konto.kontoStatus.getDisplayName()}"> Status:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-right text-secondary mp-0 small">
                                            <span th:text="'KontoSaldo: '"></span>
                                            <span th:classappend="${konto.aktSaldo > 0 ? 'text-success' : 'text-danger'}" th:text="${konto.aktSaldo} + ' €'"></span>
                                        </div>
                                        <div class="text-right text-secondary mp-0 small" th:text="'KontoTyp: ' + ${konto.getClass().getSimpleName()}"> KontoTyp:</div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" data-parent="#accordionKonto" id="collapseKonto" aria-labelledby="headingKonto" >
                                <div class="card-body">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col">
                                                        <h2>Buchungs Übersicht</h2>
                                                    </div>
                                                </div>
                                            </div>



                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Datum</th>
                                                        <th>Text</th>
                                                        <th>SOLL</th>
                                                        <th>HABEN</th>
                                                        <th>Saldo</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="kontobuchung : ${konto.kontoBuchungList}">
                                                        <td th:text="${kontobuchung.buchungsDatum}">Datum</td>
                                                        <td th:text="${kontobuchung.buchungsText}">Text</td>
                                                        <td><div th:if="${kontobuchung.buchungsArt == T(at.blo0dy.SpringBank.model.enums.BuchungsArtEnum).SOLL}"><span class="text-danger" th:text="${#numbers.formatDecimal(kontobuchung.buchungsBetrag, 0, 'POINT', 2, 'COMMA')}">Geld</span></div></td>
                                                        <td><div th:if="${kontobuchung.buchungsArt == T(at.blo0dy.SpringBank.model.enums.BuchungsArtEnum).HABEN}"><span class="text-success" th:text="${#numbers.formatDecimal(kontobuchung.buchungsBetrag, 0, 'POINT', 2, 'COMMA')}">AuchGeld</span></div></td>
                                                        <td th:text="${#numbers.formatDecimal(kontobuchung.saldoNachBuchung, 1, 'POINT', 2, 'COMMA')}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            <div th:if="${#lists.isEmpty(konto.kontoBuchungList)} " class="mb-2 pl-4">Derzeit keine Buchungen am Konto!</div>
                                            <hr class="my-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>



                <div class=" col-sm-12 col-xl-10 pt-4">
                    <div class="accordion" id="accordionZahlungsAuftrag"  >
                        <div class="card">
                            <div class="card-header" id="headingZahlungsAuftrag" >
                                <div class="row">
                                    <div class="col-3 pl-0">
                                        <h2 class="mb-0">
                                            <div class="btn-group dropdown">
                                            <button class="btn btn-outline-dark text-left float-left" data-target="#collapseZahlungsAuftrag" aria-controls="collapseZahlungsAuftrag" type="button" data-toggle="collapse" aria-expanded="true">
                                                ZahlungsAufträge einsehen
                                            </button>
                                                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <th:block th:if="${konto.getClass().getSimpleName() == 'SparKonto'}">
                                                        <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/sparen/konto/showEinzahlungsForm(sparKontoId=${konto.id})}">Neue Einzahlung</a>
                                                        <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/sparen/konto/showAuszahlungsForm(sparKontoId=${konto.id})}">Neue Auszahlung</a>
                                                    </th:block>
                                                    <th:block th:if="${konto.getClass().getSimpleName() == 'KreditKonto'}">
                                                        <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/kredit/konto/showEinzahlungsForm(kreditKontoId=${konto.id})}">Neue Einzahlung</a>
                                                    </th:block>
                                                    <th:block th:if="${konto.getClass().getSimpleName() == 'GiroKonto'}">
                                                        <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/giro/konto/showEinzahlungsForm(giroKontoId=${konto.id})}">Neue Einzahlung</a>
                                                        <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/giro/konto/showAuszahlungsForm(giroKontoId=${konto.id})}">Neue Auszahlung</a>
                                                    </th:block>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Separated Action</a>
                                                </div>
                                            </div>
                                        </h2>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right text-secondary mp-0 small" th:text="'Inhaber: ' + ${kunde.nachname} + ', ' + ${kunde.vorname}"> Inhaber:</div>
                                        <div class="text-right text-secondary mp-0 small" th:text="'Status: ' + ${konto.kontoStatus.getDisplayName()}"> Status:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-right text-secondary mp-0 small" th:text="${'Offene Aufträge: ' + countOffeneZA}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" data-parent="#accordionZahlungsAuftrag" id="collapseZahlungsAuftrag" aria-labelledby="headingZahlungsAuftrag" >
                                <div class="card-body">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col">
                                                        <h2>ZahlungsAuftrags Übersicht</h2>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>AuftragsDatum</th>
                                                    <th>AuftragsArt</th>
                                                    <th>AuftragsStatus</th>
                                                    <th>Betrag</th>
                                                    <th>Sender</th>
                                                    <th>Empfänger</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="zahlungsAuftrag : ${konto.kontoZahlungsAuftragList}">
                                                    <td th:text="${#temporals.format(zahlungsAuftrag.auftragsDatum, 'dd.MM.yyyy')}">Datum</td>
                                                    <td th:text="${zahlungsAuftrag.auftragsArt}">Art</td>
                                                    <td th:switch="${zahlungsAuftrag.auftragsStatus}">
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragStatusEnum).ANGELEGT}" class="status text-warning" >&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragStatusEnum).DURCHGEFUEHRT}" class="status text-success">&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragStatusEnum).STORNIERT}" class="status text-danger">&bull;</span>
                                                        <span th:text="${zahlungsAuftrag.auftragsStatus}">Status</span>
                                                    </td>
                                                    <td th:text="${#numbers.formatDecimal(zahlungsAuftrag.betrag, 0, 'POINT', 2, 'COMMA')}" th:classappend="${#strings.equals(zahlungsAuftrag.auftragsArt, 'EINZAHLUNG')} ? 'text-success' : 'text-danger'" >betrag</td>
                                                    <td th:text="${zahlungsAuftrag.senderKonto}">Datum</td>
                                                    <td th:text="${zahlungsAuftrag.empfaengerKonto}">Art</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div th:if="${#lists.isEmpty(konto.kontoZahlungsAuftragList)} " class="mb-2 pl-4">Derzeit keine Zahlungsaufträge gespeichert!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                <div class=" col-sm-12 col-xl-10 pt-4">
                    <div class="accordion" id="accordionDauerAuftrag"  >
                        <div class="card">
                            <div class="card-header" id="headingDauerAuftrag" >
                                <div class="row">
                                    <div class="col-3 pl-0">
                                        <h2 class="mb-0">
                                            <div class="btn-group dropdown">
                                                <button class="btn btn-outline-dark text-left float-left" data-target="#collapseDauerAuftrag", aria-controls="collapseDauerAuftrag" type="button" data-toggle="collapse" aria-expanded="true">
                                                    Daueraufträge einsehen
                                                </button>
                                                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" th:href="@{/mitarbeiter/kunde/konto/showDauerAuftragForm(kontoId=${konto.id})}">Neuer Dauerauftrag</a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Separated Action</a>
                                                </div>
                                            </div>
                                        </h2>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-right text-secondary mp-0 small" th:text="'Inhaber: ' + ${kunde.nachname} + ', ' + ${kunde.vorname}"> Inhaber:</div>
                                        <div class="text-right text-secondary mp-0 small" th:text="'Status: ' + ${konto.kontoStatus.getDisplayName()}"> Status:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-right text-secondary mp-0 small" th:text="${'Aktive DauerAufträge: ' + countAktiveDA}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" data-parent="#accordionDauerAuftrag" id="collapseDauerAuftrag" aria-labelledby="headingDauerAuftrag" >
                                <div class="card-body">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col">
                                                        <h2>DauerAuftrags Übersicht</h2>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>AnlageDatum</th>
                                                    <th>Durchführen am</th>
                                                    <th>AuftragsArt</th>
                                                    <th>AuftragsStatus</th>
                                                    <th>Betrag</th>
                                                    <th>Aktion</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="dauerAuftrag : ${konto.dauerAuftragList}">
                                                    <td th:text="${#temporals.format(dauerAuftrag.datAnlage, 'dd.MM.yyyy HH:mm:ss')}">Datum</td>
                                                    <td th:text="${dauerAuftrag.tagImMonat + '. dM'}">TagImMonat</td>
                                                    <td th:text="${dauerAuftrag.auftragsArt.getDisplayName()}">Art</td>
                                                    <td th:switch="${dauerAuftrag.auftragsStatus}">
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.DauerAuftragStatusEnum).ANGELEGT}" class="status text-success" >&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.DauerAuftragStatusEnum).STORNIERT}" class="status text-danger">&bull;</span>
                                                        <span th:text="${dauerAuftrag.auftragsStatus.getDisplayName()}">Status</span>
                                                    </td>
                                                    <td th:text="${#numbers.formatDecimal(dauerAuftrag.betrag, 1, 'POINT', 2, 'COMMA')}" th:classappend="${#strings.equals(dauerAuftrag.auftragsArt, 'EINZAHLUNG')} ? 'text-success' : 'text-danger'" >betrag</td>
                                                    <td>
                                                        <a th:href="@{/mitarbeiter/kunde/konto/showDauerAuftragForm(kontoId=${konto.id},dauerAuftragId=${dauerAuftrag.id})}" class="btn btn-info btn-sm">Update</a>
                                                        |
                                                        <a th:href="@{/mitarbeiter/kunde/konto/storniereDauerAuftrag(kontoId=${konto.id},dauerAuftragId=${dauerAuftrag.id})}" class = "btn btn-danger btn-sm" onclick="if (!(confirm('Möchten Sie den Dauerauftrag wirklich stornieren?'))) return false">Delete</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div th:if="${#lists.isEmpty(konto.dauerAuftragList)}" class="mb-3 pl-4">Derzeit keine offenen Daueraufträge gespeichert!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--        </div>-->
    </main>
</div>
</body>
</html>