<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}">
<head>
    <title>Neue Einzahlung</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <h3 class="pt-3 pl-3">Zahlungsauftrag - Bearbeiten</h3>
        <hr>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 pt-4">
                    <form th:action="${konto.getClass().getSimpleName() == 'SparKonto'} ? @{/mitarbeiter/kunde/sparen/konto/saveEinzahlungsForm} : (${konto.getClass().getSimpleName() == 'KreditKonto'} ? @{/mitarbeiter/kunde/kredit/konto/saveEinzahlungsForm} : @{/mitarbeiter/kunde/giro/konto/saveEinzahlungsForm})"
                          method="POST" th:object="${zahlungsAuftrag}">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <input type="hidden" th:field="${zahlungsAuftrag.id}" />
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('kontonummer')}"
                                      th:errors="*{kontonummer}">kontonummer Error</span>
                                <label for="kontonummer">Sparkonto:</label>
                                <select th:field="*{kontonummer}" class="form-control" id="kontonummer">
                                    <option value="" th:selected="${requestedKontonummer == null}" disabled>Konto auswählen... </option>
                                    <th:block th:each="kontonummer : ${kontonummerAuswahl}">
                                        <option th:text="${kontonummer}" th:value="${kontonummer}" th:selected="${requestedKontonummer == kontonummer}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('auftragsDatum')}"
                                      th:errors="*{auftragsDatum}">auftragsDatum Error</span>
                                <label for="auftragsDatum">Auftrags Datum:</label>
                                <input type="date" th:field="*{auftragsDatum}"
                                       class="form-control" id ="auftragsDatum" placeholder ="auftragsDatum">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('betrag')}"
                                      th:errors="*{betrag}">betrag Error</span>
                                <label for="betrag">Betrag:</label>
                                <input type="text" th:field="*{betrag}"
                                       class="form-control" id="betrag" placeholder ="12.345,12 €">
                            </div>
                            <div class="form-group col-sm-6">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('auftragsArt')}"
                                      th:errors="*{auftragsArt}">auftragsArt Error</span>
                                <label for="auftragsArt">Auftrags Art:</label>
                                <input type="text" th:field="*{auftragsArt}"
                                       class="form-control" id="auftragsArt" placeholder ="Einzahlung/Auszahlung" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-info">Speichern</button>
                                <a class="btn btn-success" th:if="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/sparen/konto')}" th:href="@{/mitarbeiter/kunde/sparen/konto/showSparKontoDetailPage(sparKontoId=${konto.id})}">Zurück zur Sparkonto-Übersicht</a>
                                <a class="btn btn-success" th:if="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/kredit/konto')}" th:href="@{/mitarbeiter/kunde/sparen/konto/showKreditKontoDetailPage(kreditKontoId=${konto.id})}">Zurück zur Kreditkonto-Übersicht</a>
                                <a class="btn btn-success" th:if="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/giro/konto')}" th:href="@{/mitarbeiter/kunde/sparen/konto/showGiroKontoDetailPage(giroKontoId=${konto.id})}">Zurück zur Girokonto-Übersicht</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>