<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

    <title>SparKontoDetail Page</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-0">
            <h1> Übersicht - Sparkonto </h1>
            <div th:if="${zahlungsAuftragGespeichert}">
                <div class="alert alert-info ">
                    Ihr Zahlungsauftrag wurde gespeichert. Der Status kann nun in Ihren Aufträgen eingesehen werden.
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-10 pt-4">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Text</th>
                            <th>SOLL</th>
                            <th>HABEN</th>
                            <th>Saldo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="kontobuchung : ${sparkonto.kontoBuchungList}">
                            <td th:text="${kontobuchung.buchungsDatum}">1</td>
                            <td th:text="${kontobuchung.buchungsText}">Mark</td>
                            <td><div th:if="${kontobuchung.buchungsArt == T(at.blo0dy.SpringBank.model.enums.BuchungsArtEnum).SOLL}"><span class="text-danger" th:text="${#numbers.formatDecimal(kontobuchung.buchungsBetrag, 0, 'POINT', 2, 'COMMA')}">Otto</span></div></td>
                            <td><div th:if="${kontobuchung.buchungsArt == T(at.blo0dy.SpringBank.model.enums.BuchungsArtEnum).HABEN}"><span class="text-success" th:text="${#numbers.formatDecimal(kontobuchung.buchungsBetrag, 0, 'POINT', 2, 'COMMA')}">@mdo</span></div></td>
                            <td th:text="${#numbers.formatDecimal(kontobuchung.saldoNachBuchung, 0, 'POINT', 2, 'COMMA')}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr class="my-1">
                    <div class="row mt-3 justify-content-around align-items-center">
                        <a th:href="@{/kunde/banking/sparen/sparkontouebersicht}"
                           class = "btn btn-success" >
                            Zurück
                        </a>
                        <a th:href="@{/kunde/banking/sparen/showEinzahlungsFormWithKonto(kontoId=${sparkonto.id})}"
                           class = "btn btn-info" >
                            Neue Einzahlung
                        </a>
                        <a th:href="@{/kunde/banking/sparen/showAuszahlungsFormWithKonto(kontoId=${sparkonto.id})}"
                           class = "btn btn-info" >
                            Neue Auszahlung
                        </a>
                    </div>
                    <p class="mb-2">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>

                <div class="col-10 pt-4">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>AnlageDatum</th>
                            <th>AuftragsDatum</th>
                            <th>AuftragsArt</th>
                            <th>AuftragsStatus</th>
                            <th>Betrag</th>
                            <th>Sender</th>
                            <th>Empfänger</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="zahlungsAuftrag : ${zahlungsAuftragsList}">
                            <td th:text="${zahlungsAuftrag.datAnlage}">Datum</td>
                            <td th:text="${zahlungsAuftrag.auftragsDatum}">Datum</td>
                            <td th:text="${zahlungsAuftrag.auftragsArt}">Art</td>
                            <td th:switch="${zahlungsAuftrag.auftragsStatus}">
                                <span th:case="${T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragStatusEnum).ANGELEGT}" class="status text-warning" >&bull;</span>
                                <span th:case="${T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragStatusEnum).DURCHGEFUEHRT}" class="status text-success">&bull;</span>
                                <span th:case="${T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragStatusEnum).STORNIERT}" class="status text-danger">&bull;</span>
                                <span th:text="${zahlungsAuftrag.auftrags_status}">Status</span>
                            </td>
                            <td th:text="${#numbers.formatDecimal(zahlungsAuftrag.betrag, 0, 'POINT', 2, 'COMMA')}" th:class="${#strings.equals(activeLink, 'T(at.blo0dy.SpringBank.model.enums.ZahlungAuftragArtEnum).EINZAHLUNG')} ? 'text-success' : 'text-danger'" >betrag</td>
                            <td th:text="${zahlungsAuftrag.senderKonto}">Datum</td>
                            <td th:text="${zahlungsAuftrag.empfaengerKonto}">Art</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>











</body>
</html>