<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

    <title>KreditAntragDetail Page</title>
</head>

<body>
    <div layout:fragment="content">
        <main>
            <div class="container-fluid px-0">
                <h1> AntragDetail - Kreditkonto </h1>
                <div class="row justify-content-md-center">
                    <div class="col-10 pt-4">
                        <form method="POST" th:action="@{/kunde/banking/kredit/saveKreditAntragDetailPage}" th:object="${kreditkontoantrag}" id="registerForm">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <h4>KreditkontoAntrag-Daten</h4>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                              <span class="text-danger"
                                    th:if="${#fields.hasErrors('antragDatum')}"
                                    th:errors="*{antragDatum}">antragDatum Error
                              </span>
                                    <label for="antragDatum">Antrags-Datum:</label>
                                    <input type="text" class="form-control" id="antragDatum" name="antragDatum" placeholder="antragDatum" th:field="*{antragDatum}" th:value="${#temporals.format(antragDatum, 'dd.MM.yyyy HH:mm:ss')}" readonly>
                                </div>
                                <div class="form-group col-md-5">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('antragStatus')}"
                                  th:errors="*{antragStatus}">antragStatus Error</span>
                                    <label for="antragStatus">Antrags-Status</label>
                                    <input type="text" class="form-control" id="antragStatus" name="antragStatus" placeholder="antragStatus" th:field="*{antragStatus}" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('kreditBetrag')}"
                                      th:errors="*{kreditBetrag}">kreditBetrag Error</span>
                                    <label for="kreditBetrag">KreditBetrag:</label>
                                    <input type="text" class="form-control" id="kreditBetrag" name="kreditBetrag" placeholder="kreditBetrag" th:field="*{kreditBetrag}" th:readonly="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">
                                </div>
                                <div class="form-group col-md-5">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('zinssatz')}"
                                      th:errors="*{zinssatz}">zinssatz Error</span>
                                    <label for="zinssatz">Zinssatz:</label>
                                    <input type="text" class="form-control" id="zinssatz" name="zinssatz" placeholder="zinssatz" th:field="*{zinssatz}" th:readonly="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('rate')}"
                                      th:errors="*{rate}">rate Error</span>
                                    <label for="rate">Rate:</label>
                                    <input type="text" class="form-control" id="rate" name="rate" placeholder="rate" th:field="*{rate}" th:readonly="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">
                                </div>
                                <div class="form-group col-md-5">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('laufzeit')}"
                                      th:errors="*{laufzeit}">laufzeit Error</span>
                                    <label for="laufzeit">Laufzeit:</label>
                                    <input type="text" class="form-control" id="laufzeit" name="laufzeit" placeholder="laufzeit" th:field="*{laufzeit}" th:readonly="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('gesamtBelastung')}"
                                      th:errors="*{gesamtBelastung}">gesamtBelastung Error</span>
                                    <label for="gesamtBelastung">GesamtBelastung:</label>
                                    <input type="text" class="form-control" id="gesamtBelastung" name="gesamtBelastung" placeholder="gesamtBelastung" th:field="*{gesamtBelastung}" th:readonly="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                     <span class="text-danger"
                                           th:if="${#fields.hasErrors('kundennummer')}"
                                           th:errors="*{kundennummer}">kundennummer Error</span>
                                    <label for="kundennummer">Kundennummer:</label>
                                    <input type="text" class="form-control" id="kundennummer" name="kundennummer" th:field="*{kundennummer}" readonly>
                                </div>
                                <div class="form-group col-md-5 pt-4 justify-content-around">
                                    <a th:href="@{/kunde/banking/index}"
                                       class = "btn btn-success" >
                                        Zurück
                                    </a>
                                    <button type="submit" class="btn btn-info"
                                            th:classappend="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT} ? 'disabled' : ''"
                                            th:disabled="${kreditkontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">Daten speichern
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>