<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{kunde/mainlayout.html}">
<head>
    <Title> Register - Sparkonto </Title>
</head>

<body>
    <div layout:fragment="content">
        <main>
            <div class="container-fluid px-2">
                <div class="row">
                    <div class="col-4">
                        <form method="POST" th:action="@{/kunde/banking/kredit/register}" th:object="${kreditrechnervorlage}" id="doKreditBerechnung">
                            <div class="form-group">
                                <label for="kreditbetrag">KreditBetrag: </label>
                                <div class="text-danger"
                                     th:if="${#fields.hasErrors('kreditBetrag')}"
                                     th:errors="*{kreditBetrag}">Kreditbetrag Error</div>
                                <input type="text" class="form-control" id="kreditBetrag" name="kreditBetrag" placeholder="1234,56 €" th:field="*{kreditBetrag}">
                                </div>
                                <div class="form-group">
                                    <label for="laufzeit">Laufzeit(Monate): </label>
                                    <div class="text-danger"
                                         th:if="${#fields.hasErrors('laufzeit')}"
                                         th:errors="*{laufzeit}">laufzeit Error</div>
                                    <input type="text" class="form-control" id="laufzeit" name="laufzeit" placeholder="84 Monate" th:field="*{laufzeit}">
                                </div>
                                <div class="form-group">
                                    <label for="zinssatz">Zinssatz: </label>
                                    <input type="text" class="form-control" id="zinssatz" name="zinssatz" th:field="${kreditrechnervorlage.zinssatz}" disabled>
                                </div>
                                <button type="submit" class="btn btn-primary" name="calculate" value="calculate">Berechnen</button>
                                <span th:if ="${calculatedCorrectly}">
                                <button type="submit" class="btn btn-primary" name="saveKreditAntrag" value="saveKreditAntrag">KontoEröffnen</button>
                                </span>
                            <h2>Ergebnis</h2>
                            <div class="form-group pt-2">
                                <label for="kreditBetragErgebnis">KreditBetrag: </label>
                                <input type="text" class="form-control pt-2" id="kreditBetragErgebnis" name="kreditBetragErgebnis" th:field="${ergebnis.kreditBetrag}" disabled>
                                <label for="zinsAnteil">Zinsen-Anteil: </label>
                                <input type="text" class="form-control pt-2" id="zinsAnteil" name="zinsAnteil" th:field="${ergebnis.zinsAnteil}" disabled>
                                <label for="gesamtBelastung">Gesamtbelastung: </label>
                                <input type="text" class="form-control pt-2" id="gesamtBelastung" name="gesamtBelastung" th:field="${ergebnis.gesamtBelastung}" disabled>
                                <label for="monatlicheRate">Monatliche Rate: </label>
                                <input type="text" class="form-control pt-2" id="monatlicheRate" name="monatlicheRate" th:field="${ergebnis.monatlicheRate}" disabled>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>