<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{mainlayout.html}">

<title>ChangePassword Page</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <h3 class="pt-3 pl-3">Passwort ändern</h3>
        <hr>
        <div class="container-fluid px-0">
            <div class="row justify-content-md-center">
                <div class="col-10 pt-4">
                    <form method="POST" th:action="@{/mitarbeiter/saveChangePasswordForm}" th:object="${changePasswordForm}" id="registerForm">
<!--                        <input type="hidden" th:field="*{id}" />-->
                        <div class="form-row">
                            <div class="form-group col-md-5">
                              <span class="text-danger"
                                    th:if="${#fields.hasErrors('oldPassword')}"
                                    th:errors="*{oldPassword}">oldPassword Error
                              </span>
                                <label for="oldPassword">Altes Passwort:</label>
                                <input type="text" class="form-control" id="oldPassword" placeholder="oldPassword" th:field="*{oldPassword}" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('newPassword')}"
                                  th:errors="*{newPassword}">newPassword Error</span>
                                <label for="newPassword">Neues Passwort:</label>
                                <input type="text" class="form-control" id="newPassword" placeholder="newPassword" th:field="*{newPassword}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('confirmPassword')}"
                                      th:errors="*{confirmPassword}">confirmPassword Error</span>
                                <label for="confirmPassword">Neues Passwort bestätigen:</label>
                                <input type="text" class="form-control" id="confirmPassword" placeholder="confirmPassword" th:field="*{confirmPassword}" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 pt-4 justify-content-around">
                                <a th:href="@{/mitarbeiter/index}"
                                   class = "btn btn-success" >
                                    Zurück
                                </a>
                                <button type="submit" class="btn btn-info">Daten speichern</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>