<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{mainlayout.html}">

<head>
    <title>Layout</title>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-0">
            <div th:if="${passwordGeaendert}">
                <div class="alert alert-success">
                    Dein Passwort wurde erfolgreich geändert.
                </div>
            </div>

            <h1>Welcome to HonestBank - we're currently in Alpha</h1>

            <p th:text="'FirmenName: ' + ${bank.firmenName} + '!'" />

            <p th:text="'FirmenChef: ' + ${bank.firmenChef} + '!'" />

            <p th:text="'Steuernummer: ' + ${bank.steuerNummer} + '!'" />

            <p th:text="'Allgemeine Info: ' + ${bank.info()} + '!'" />


            <p th:text="'Hallo, ' + ${loggedUser.getVorname() + ' ' + loggedUser.getNachname()}  + ' !'" />


            <div sec:authorize="isAuthenticated()">
                Authentifiziert als:  <span sec:authentication="name"></span></div>
            <br>


            <div sec:authorize="hasAuthority('admin')">
                Nur Administratoren dürfen das sehen.
            </div>
            <br>
            <div sec:authorize="hasAuthority('mitarbeiter')">
                Nur Mitarbeiter dürfen das sehen.
            </div>
            <br>

            Rollen: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

            <p th:text="'Wir haben schon ' + ${mitarbeitercount} + ' Mitarbeiter'" />
        </div>
    </main>
</div>
</body>
</html>