<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Mitarbeiter Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <table class ="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>MA-Nr.</th>
            <th>Position</th>
            <th>Adresse</th>
            <th>Aktion durchführen</th>
        </tr>
        </thead>
        <tr th:remove="all">
            <td th:text="${ma.vorname}">345</td>
            <td th:text="${ma.nachname}">Tasty Goodness</td>
            <td th:text="${ma.mitarbeiterNummer}">Tasty Goodness</td>
            <td th:text="${ma.position}">Tasty Goodness</td>
            <td th:text="${ma.adresse}">Tasty Goodness</td>
    <!--        <td><a href="#">View</a></td>-->
        </tr>
        <tr th:remove="all">
            <td th:text="${ma.vorname}">345</td>
            <td th:text="${ma.nachname}">Tasty Goodness</td>
            <td th:text="${ma.mitarbeiterNummer}">Tasty Goodness</td>
            <td th:text="${ma.position}">Tasty Goodness</td>
            <td th:text="${ma.adresse}">Tasty Goodness</td>
    <!--        <td><a href="#">View</a></td>-->
        </tr>
        <tr th:each="ma : ${mitarbeiter}">
            <!-- @thymesVar id="recipe" type="guru.springframework.domain.Recipe" -->
            <td th:text="${ma.vorname}">345</td>
            <td th:text="${ma.nachname}">Tasty Goodness</td>
            <td th:text="${ma.mitarbeiterNummer}">Tasty Goodness</td>
            <td th:text="${ma.position}">Tasty Goodness</td>
            <td th:text="${ma.adresse}">Tasty Goodness</td>
            <td>
                <a th:href="@{/mitarbeiter/showFormForUpdate(mitarbeiterId=${ma.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                |
                <a th:href="@{/mitarbeiter/delete(mitarbeiterId=${ma.id})}"
                class = "btn btn-danger btn-sm"
                onclick="if (!(confirm('Are you sure you want to delete this mitarbeiter?'))) return false">
                Delete
                </a>
            </td>
           <!-- <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>-->
        </tr>
    </table>
</div>
<a th:href="@{/mitarbeiter/showFormForAdd}"
    class="btn btn-primary btn-sm mb-3">
    Add Mitarbeiter
</a>



</body>
</html>