<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Save Mitarbeiter</title>
</head>

<body>

<div class="container">

    <h3>Mitarbeiter Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Mitarbeiter</p>

    <form action="#" th:action="@{/mitarbeiter/save}"
          th:object="${mitarbeiter}" method="POST">

            <!-- Add hidden form Field to handle update -->
            <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{adresse.id}" />
        <input type="hidden" th:field="*{person.id}" />


            <input type="text" th:field="*{vorname}"
                   class="form-control mb-4 col-4" placeholder ="First name">
            <input type="text" th:field="*{nachname}"
                   class="form-control mb-4 col-4" placeholder ="Last name">
            <input type="text" th:field="*{mitarbeiterNummer}"
                   class="form-control mb-4 col-4" placeholder ="Email">
            <input type="text" th:field="*{position}"
                   class="form-control mb-4 col-4" placeholder ="Position">
            <input type="text" th:field="*{adresse.strasse}"
                   class="form-control mb-4 col-4" placeholder ="Adresse">
            <input type="text" th:field="*{adresse.ort}"
                   class="form-control mb-4 col-4" placeholder ="ort">
            <input type="text" th:field="*{adresse.plz}"
                   class="form-control mb-4 col-4" placeholder ="plz">
            <input type="text" th:field="*{adresse.land}"
                   class="form-control mb-4 col-4" placeholder ="land">

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>
    </form>

    <hr>
    <a th:href="@{/mitarbeiter/list}">Back to Mitarbeiter List</a>

</div>

</body>
</html>