<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}">
<head>
    <title>Save Mitarbeiter</title>
</head>

<body>
<div layout:fragment="content">
    <h3>Mitarbeiter Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Mitarbeiter</p>

    <form action="#" th:action="@{/mitarbeiter/save}"
          th:object="${mitarbeiter}" method="POST">

            <!-- Add hidden form Field to handle update -->
            <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{adresse.id}" />

            <span class="text-danger"
                  th:if="${#fields.hasErrors('vorname')}"
                  th:errors="*{vorname}">Vorname Error</span>
            <input type="text" th:field="*{vorname}"
                   class="form-control mb-4 col-8" placeholder ="First name">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('nachname')}"
                  th:errors="*{nachname}">Nachname Error</span>
            <input type="text" th:field="*{nachname}"
                   class="form-control mb-4 col-8" placeholder ="Last name">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('mitarbeiterNummer')}"
                  th:errors="*{mitarbeiterNummer}">MANr Error</span>
            <input type="text" th:field="*{mitarbeiterNummer}"
                   class="form-control mb-4 col-8" placeholder ="Mitarbeiternummer">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('position')}"
                  th:errors="*{position}">Position Error</span>
            <input type="text" th:field="*{position}"
                   class="form-control mb-4 col-8" placeholder ="Position">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('adresse.strasse')}"
                  th:errors="*{adresse.strasse}">Strasse Error</span>
            <input type="text" th:field="*{adresse.strasse}"
                   class="form-control mb-4 col-8" placeholder ="Straße">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('adresse.ort')}"
                  th:errors="*{adresse.ort}">Ort Error</span>
            <input type="text" th:field="*{adresse.ort}"
                   class="form-control mb-4 col-8" placeholder ="ort">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('adresse.plz')}"
                  th:errors="*{adresse.plz}">PLZ Error</span>
            <input type="text" th:field="*{adresse.plz}"
                   class="form-control mb-4 col-8" placeholder ="plz">
            <span class="text-danger"
                  th:if="${#fields.hasErrors('adresse.land')}"
                  th:errors="*{adresse.land}">Land Error</span>
            <input type="text" th:field="*{adresse.land}"
                   class="form-control mb-4 col-8" placeholder ="land">

            <button type="submit" class="btn btn-info col-8">Save</button>

        </form>
    </form>


    <hr>
    <a th:href="@{/mitarbeiter/list}">Back to Mitarbeiter List</a>

</div>
</body>
</html>