<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

    <head>
        <title>HonestBank - Index</title>

    </head>
    <body>
        <div layout:fragment="content">
            <main>
                <div class="container-fluid px-0">
                    <div id="kundeIndexMainPicture" >
                        <div id="kundeIndexMainPictureText">
                            <h1>Hey Sie! Ja genau Sie!</h1>
                            <h4>melden Sie sich an!</h4>
                            <br>
                            <a th:href="@{/kunde/register}"
                               class="btn btn-secondary btn-lg btn-lg">
                                was kann schon passieren?
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row pt-4">
                        <div class="col text-center">
                            <blockquote class="blockquote">
                                <h2 class="mb-0">Bank - Aber ehrlich!</h2>
                                <h4><footer class="blockquote-footer"><cite title="Source Title">Ihre HonestBank!</cite></footer></h4>
                            </blockquote>
                            <p >Bad Banks sind die anderen. Die HonestBank ist neu am Markt. Zu neu für Leichen im Keller. Zu Unbekannt um Bilanzprüfer zu schmieren. - Zu ehrlich Sie übers Ohr zu hauen, und zu schön um ins Gefängnis zu wollen </p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bg-light">
                    <div class="row pt-2 mt-2">
                        <div class="col-12">
                            <h1>Ihre Vorteile im Überblick.</h1>
                        </div>
                    </div>
                    <br>
                    <div class="row bg-light justify-content-around">
                        <div class="col-5 text-center bg-medium-grey py-2">
                            Jederzeit Zugriff auf Ihre Konten
                        </div>
                        <div class="col-5 text-center bg-medium-grey py-2">
                            Live-Webcam auf unser Gold-Vault
                        </div>
                    </div>
                    <div class="row bg-light justify-content-around">
                        <div class="col-5 text-center py-2">
                            Keine Gebühren
                        </div>
                        <div class="col-5 text-center py-2">
                            Keine Werbung
                        </div>
                    </div>
                    <div class="row bg-light justify-content-around">
                        <div class="col-5 text-center bg-medium-grey py-2">
                            Für die ersten 1000 Kunden:
                        </div>
                        <div class="col-5 text-center bg-medium-grey py-2">
                            1 Mobiler Bankomat für zu Hause!
                        </div>
                    </div>
                    <br><br><br>
                </div>
                <div class="container-fluid">

                </div>
            </main>
        </div>
    </body>
</html>
