<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

<head>
    <meta charset="utf-8" />
    <!--        <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Sparen - Index</title>
    <!--        <link rel="stylesheet" th:href="@{/css/kunde/styles.css}" type="text/css" />-->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/kunde/styles.css}" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-0">
            <!-- <h1 class="mt-4">Dashboard</h1>-->
            <!--                    <ol class="breadcrumb mb-4">-->
            <!--                        <li class="breadcrumb-item active">Dashboard</li>-->
            <!--                    </ol>-->
            <div id="kundeIndexMainPicture" >
                <div id="kundeIndexMainPictureText">
                    <h1>Sie sind rich as fuck?</h1>
                    <h4>Dann sparen sie bei uns!</h4>
                    <br>
                    <button type="button" class="btn btn-secondary btn-lg btn-lg">Anmelden</button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row pt-4">
                <div class="col text-center">
                    <blockquote class="blockquote">
                        <h2 class="mb-0">Limbo-Sparen bei HonestBank</h2>
                        <h4><footer class="blockquote-footer"><cite title="Source Title">Tiefer gehts immer!</cite></footer></h4>
                    </blockquote>
                    <p >blaskdfldkf oeif oiweofi  woeif owif oweif oweif oweif owef oweif owe wofw efoweif owei fowef oweif oweif ow
                        woefi oweif woeif oweif woei  oweif oweif owe fowef wgvergpbe +b e+go+wrpwefqewdfuwiqu qwdiqwudpiqwud qwd qwidu qwid qwd
                        qwdü wüiduqwüdiuqüiwdu üqwdu qiwdu qiüwdu üqiwdu qiüwdu qüiwdu qiüwdu qwd üqiwdu üqwo cdoif +efi +eoif oq+weifd qoü+if
                        blaskdfldkf oeif oiweofi  woeif owif oweif oweif oweif owef oweif owe wofw efoweif owei fowef oweif oweif ow
                        woefi oweif woeif oweif woei  oweif oweif owe fowef wgvergpbe +b e+go+wrpwefqewdfuwiqu qwdiqwudpiqwud qwd qwidu qwid qwd
                        qwdü wüiduqwüdiuqüiwdu üqwdu qiwdu qiüwdu üqiwdu qiüwdu qüiwdu qiüwdu qwd üqiwdu üqwo cdoif +efi +eoif oq+weifd qoü+if</p>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-light">
            <div class="row pt-2 mt-2">
                <div class="col-12">
                    <h1>Die Konditionen im Überblick.</h1>
                </div>
            </div>
            <div class="row bg-light justify-content-around">
                <div class="col-5 text-center bg-medium-grey py-2">
                    test 1
                </div>
                <div class="col-5 text-center bg-medium-grey py-2">
                    test 2
                </div>
            </div>
            <div class="row bg-light justify-content-around">
                <div class="col-5 text-center py-2">
                    test 3
                </div>
                <div class="col-5 text-center py-2">
                    test 4
                </div>
            </div>
            <div class="row bg-light justify-content-around">
                <div class="col-5 text-center bg-medium-grey py-2">
                    test 5
                </div>
                <div class="col-5 text-center bg-medium-grey py-2">
                    test 6
                </div>
            </div>
            <br><br><br><br>
            text
        </div>
        <div class="container-fluid">

        </div>
    </main>
</div>
</body>
</html>
