<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Sparen - Rechner</title>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/kunde/styles.css}" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <main>
        <h3 class="pt-3 pl-3">SparRechner - Zinsen bis Jahresende</h3>
        <hr>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10 pt-4">
                    <form method="POST" th:action="@{/kunde/sparen/rechner}" th:object="${sparzinsrechnervorlage}" id="doSparZinsenBerechnen">
                        <h3>Vorlage:</h3>
                        <div class="form-row">
                            <div class="form-group col-sm-10 col-md-8 col-xl-5">
                                <label for="datum">Datum: </label>
                                <div class="text-danger"
                                     th:if="${#fields.hasErrors('datum')}"
                                     th:errors="*{datum}">datum Error</div>
                                <input type="date" class="form-control" id="datum" name="datum" th:field="*{datum}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-10 col-md-8 col-xl-5">
                                <label for="betrag">Betrag: </label>
                                <div class="text-danger"
                                     th:if="${#fields.hasErrors('betrag')}"
                                     th:errors="*{betrag}">betrag Error</div>
                                <input type="text" class="form-control" id="betrag" name="betrag" placeholder="1234,56 €" th:field="*{betrag}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-10 col-md-8 col-xl-5">
                                <label for="zinssatz">Zinssatz: </label>
                                <div class="text-danger"
                                     th:if="${#fields.hasErrors('zinssatz')}"
                                     th:errors="*{zinssatz}">zinssatz Error</div>
                                <input type="text" class="form-control" id="zinssatz" name="zinssatz" th:field="*{zinssatz}" readonly>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-10 pt-4">
                    <h3>Ergebnis:</h3>
                    <div class="form-row">
                        <div class="form-group col-sm-10 col-md-8 col-xl-5">
                            <label for="anfangssaldo">Anfangssaldo: </label>
                            <input type="text" class="form-control" id="anfangssaldo" name="anfangssaldo" placeholder="0,00" th:value="${#numbers.formatDecimal(ergebnis.anfangsBetrag, 1, 'POINT', 2, 'COMMA')} + ' €'" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-10 col-md-8 col-xl-5">
                            <label for="zinsen">Zinsen: </label>
                            <input type="text" class="form-control" id="zinsen" name="zinsen" placeholder="0,00" th:value="${#numbers.formatDecimal(ergebnis.zinsen, 1, 'POINT', 2, 'COMMA')} + ' €'" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-10 col-md-8 col-xl-5">
                            <label for="kest">KESt: </label>
                            <input type="text" class="form-control" id="kest" name="kest" placeholder="0,00" th:value="${#numbers.formatDecimal(ergebnis.kest, 1, 'POINT', 2, 'COMMA')} + ' €'" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-10 col-md-8 col-xl-5">
                            <label for="ergebnisVorKest">Saldo nach Zinsen: </label>
                            <input type="text" class="form-control" id="ergebnisVorKest" name="ergebnisVorKest" placeholder="0,00" th:value="${#numbers.formatDecimal(ergebnis.ergebnisVorKest, 1, 'POINT', 2, 'COMMA')} + ' €'" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-10 col-md-8 col-xl-5">
                            <label for="ergebnisNachKest">Saldo Zinsen/KESt: </label>
                            <input type="text" class="form-control" id="ergebnisNachKest" name="ergebnisNachKest" placeholder="0,00" th:value="${#numbers.formatDecimal(ergebnis.ergebnisNachKest, 1, 'POINT', 2, 'COMMA')} + ' €'" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br>
        <div>
            <p th:text="${datum}"></p>
            <p th:text="${betrag}"></p>
            <p th:text="${zinssatz}"></p>
        </div>

    </main>
</div>
</body>
</html>
