<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

<head>
    <meta charset="utf-8" />
    <!--        <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Sparen - Rechner</title>
    <!--        <link rel="stylesheet" th:href="@{/css/kunde/styles.css}" type="text/css" />-->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/kunde/styles.css}" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-2">
            <div class="row">
                <div class="col-4">
                    <form method="POST" th:action="@{/kunde/sparen/rechner}" th:object="${sparzinsrechnervorlage}" id="doSparZinsenBerechnen">
                        <div class="form-group">
                            <label for="datum">Datum: </label>
                            <input type="date" class="form-control" id="datum" name="datum" th:field="${sparzinsrechnervorlage.datum}">
<!--                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                        </div>
                        <div class="form-group">
                            <label for="betrag">Betrag: </label>
                            <input type="text" class="form-control" id="betrag" name="betrag" placeholder="Betrag" th:field="${sparzinsrechnervorlage.betrag}">
                        </div>
                        <div class="form-group">
                            <label for="zinssatz">Zinssatz: </label>
                            <input type="text" class="form-control" id="zinssatz" name="zinssatz" th:field="${sparzinsrechnervorlage.zinssatz}" disabled>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-4">
                    <h3>Ergebnis:</h3>
                    <div class="form-group">
                        <label for="anfangssaldo">Anfangssaldo: </label>
                        <input type="text" class="form-control" id="anfangssaldo" name="anfangssaldo" placeholder="0,00" th:field="${ergebnis.anfangsBetrag}" disabled>
                    </div>
                    <div class="form-group disabled">
                        <label for="zinsen">Zinsen: </label>
                        <input type="text" class="form-control" id="zinsen" name="zinsen" placeholder="0,00" th:field="${ergebnis.zinsen}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="kest">KESt: </label>
                        <input type="text" class="form-control" id="kest" name="kest" placeholder="0,00" th:field="${ergebnis.kest}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="ergebnisVorKest">Saldo nach Zinsen: </label>
                        <input type="text" class="form-control" id="ergebnisVorKest" name="ergebnisVorKest" placeholder="0,00" th:field="${ergebnis.ergebnisVorKest}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="ergebnisNachKest">Saldo Zinsen/KESt: </label>
                        <input type="text" class="form-control" id="ergebnisNachKest" name="ergebnisNachKest" placeholder="0,00" th:field="${ergebnis.ergebnisNachKest}" disabled>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br>
        <div>
            <p th:text="${datum}"></p>
            <p th:text="${betrag}"></p>
            <p th:text="${zinssatz}"></p>
        </div>

    </main>
</div>
</body>
</html>
