<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Banking Index</title>
    <link rel="stylesheet" th:href="@{/css/kunde/styles.css}" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div layout:fragment="content">
        <main>
            <div class="container-fluid mt-1">
                <h3 class="pt-3 pl-3">Banking - Index</h3>
                <hr>
                <div th:if="${antragGespeichert}">
                    <div class="alert alert-info ">
                        Ihr Antrag wurde gespeichert. Der Status kann nun in Ihren Anträgen eingesehen werden.
                    </div>
                </div>
                <div th:if="${persDatenGespeichert}">
                    <div class="alert alert-info ">
                        Ihre Daten wurden aktualisiert.
                    </div>
                </div>
                <div th:if="${zuVieleAktive}">
                    <div class="alert alert-danger">
                        Sie dürfen nicht mehr als 5 Sparkonten 2 Kredite und 2 Girokonten haben und dementsprechend nicht mehr Anträge erstellen.
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-12 col-xl-10">
                        <div class="accordion" id="accordion1">
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <div class="row">
                                        <div class="col-3 pl-0">
                                            <h2 class="mb-0">
                                                <button class="btn btn-outline-dark text-left float-left" data-target="#collapse1", aria-controls="collapse1" type="button" data-toggle="collapse" aria-expanded="true">
                                                    Persönliche Daten einsehen.
                                                </button>
                                            </h2>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Name: ' + kunde.nachname + ', ' + kunde.vorname}"> Name: Der Herr mim Gwehr </div>
                                            <div class="text-right text-secondary mp-0 small">
                                                <span th:text="'Status: '"></span>
                                                <span th:classappend="${kunde.Active ? 'text-success' : 'text-danger'}" th:text="${kunde.Active ? 'Aktiv, ' : 'Inaktiv, '}"></span>
                                                <span th:classappend="${kunde.legi ? 'text-success' : 'text-danger'}" th:text="${kunde.legi ? 'Legitimiert, ' : 'nicht Legitimiert, '}"></span>
                                                <span th:classappend="${kunde.hasAcceptedAGB ? 'text-success' : 'text-danger'}" th:text="${kunde.hasAcceptedAGB ? 'AGB' : 'AGB fehlt'}"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Adresse: ' + kunde.adresse.strasse}"></div>
                                            <div class="text-right text-secondary mp-0 small" th:text="${kunde.adresse.plz + ' ' + kunde.adresse.ort + ', ' + kunde.adresse.land}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" data-parent="#accordion1" id="collapse1" aria-labelledby="heading1" >
                                    <div class="card-body justify-content-center ">
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <h4>Kunden-Daten</h4>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-6">
                                                  <label for="vorname">Vorname</label>
                                                <input type="text" class="form-control" id="vorname" name="vorname" placeholder="Vorname" th:value="${kunde.vorname}" readonly>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="nachname">Nachname</label>
                                                <input type="text" class="form-control" id="nachname" name="nachname" placeholder="Nachname" th:value="${kunde.nachname}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-6">
                                                <label for="geburtsDatum">Geburtsdatum: </label>
                                                <input type="date" class="form-control" id="geburtsDatum" name="geburtsDatum" th:value="${kunde.geburtsDatum}" readonly>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="strasse">Straße</label>
                                                <input type="text" class="form-control" id="strasse" name="strasse" placeholder="Tralastraße 15/5" th:value="${kunde.adresse.strasse}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-6">
                                                <label for="ort">Ort</label>
                                                <input type="text" class="form-control" id="ort" name="ort" th:value="${kunde.adresse.ort}" readonly>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="land">PLZ</label>
                                                <input type="text" class="form-control" id="land" name="land" th:value="${kunde.adresse.land}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-6">
                                                <label for="plz">Land</label>
                                                <input type="text" class="form-control" id="plz" name="plz" th:value="${kunde.adresse.plz}" readonly>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="kundennummer">Kundennummer</label>
                                                <input type="text" class="form-control" id="kundennummer" name="kundennummer" th:value="${kunde.kundennummer}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="telefonnummer">Telefonnummer</label>
                                                <input type="text" class="form-control" id="telefonnummer" name="telefonnummer" th:value="${kunde.telefonNummer}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="emailAdresse">Email-Adresse</label>
                                                <input type="text" class="form-control" id="emailAdresse" name="emailAdresse" th:value="${kunde.emailAdresse}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="connectedGiro">Verbundenes Giro:</label>
                                                <input type="text" class="form-control" id="connectedGiro" name="connectedGiro" th:value="${kunde.connectedGiro}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <a th:href="@{/kunde/banking/kunde-detailpage}"
                                                   class="btn btn-info btn-sm">
                                                    Ihre Daten bearbeiten
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-4">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-xl-10">
                        <div class="accordion" id="accordion2">
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <div class="row">
                                        <div class="col-3 pl-0">
                                            <h2 class="mb-0">
                                                <button class="btn btn-outline-dark text-left float-left" data-target="#collapse2", aria-controls="collapse1" type="button" data-toggle="collapse" aria-expanded="true">
                                                    Anträge einsehen.
                                                </button>
                                            </h2>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Anträge Gesamt: ' + antraegeGesamt}"> Anträge Gesamt:  </div>
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Offene Anträge: ' + offeneAntraegeGesamt}"> Offene Anträge:  </div>
                                        </div>
                                        <div class="col">
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Durchgeführte Anträge: ' + durchgefuehrteAntraegeGesamt}"> durchgeführte Anträge: </div>
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Abgelehnte Anträge: ' + abgelehnteAntraegeGesamt}"> abgelehnte Anträge:  </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" data-parent="#accordion2" id="collapse2" aria-labelledby="heading2" >
                                    <div class="card-body">
                                        <div class="table-wrapper">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <h2>Antrags Übersicht</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Produkt</th>
                                                    <th>Antrag-Datum</th>
                                                    <th>Antrag-Status</th>
                                                    <th>Details</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="sparkontoantrag : ${sparkontoantragliste}">
                                                    <td th:text="${sparkontoantrag.id}"><a href="#">345</a></td>
                                                    <td th:text="${sparkontoantrag.getClass().getSimpleName()}">AntragTyp</td>
                                                    <td th:text="${#temporals.format(sparkontoantrag.antragDatum, 'dd.MM.yyyy HH:mm:ss')}">AntragDatum</td>
                                                    <td th:switch="${sparkontoantrag.antragStatus}" >
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT}" class="status text-success" >&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).ABGELEHNT}" class="status text-danger">&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}" class="status text-warning">&bull;</span>
                                                        <span th:text="${sparkontoantrag.antragStatus.getDisplayName()}">AntragStatus</span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/kunde/banking/sparen/showSparAntragDetailPage(antragId=${sparkontoantrag.id})}"
                                                           class="btn btn-info btn-sm">
                                                            Details
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr th:each="kreditkontoantrag : ${kreditkontoantragliste}">
                                                    <td th:text="${kreditkontoantrag.id}"><a href="#">345</a></td>
                                                    <td th:text="${kreditkontoantrag.getClass().getSimpleName()}">AntragTyp</td>
                                                    <td th:text="${#temporals.format(kreditkontoantrag.antragDatum, 'dd.MM.yyyy HH:mm:ss')}">AntragDatum</td>
                                                    <td th:switch="${kreditkontoantrag.antragStatus}" >
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT}" class="status text-success" >&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).ABGELEHNT}" class="status text-danger">&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}" class="status text-warning">&bull;</span>
                                                        <span th:text="${kreditkontoantrag.antragStatus.getDisplayName()}">AntragStatus</span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/kunde/banking/kredit/showKreditAntragDetailPage(antragId=${kreditkontoantrag.id})}"
                                                           class="btn btn-info btn-sm">
                                                            Details
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr th:each="girokontoantrag : ${girokontoantragliste}">
                                                    <td th:text="${girokontoantrag.id}"><a href="#">345</a></td>
                                                    <td th:text="${girokontoantrag.getClass().getSimpleName()}">AntragTyp</td>
                                                    <td th:text="${#temporals.format(girokontoantrag.antragDatum, 'dd.MM.yyyy HH:mm:ss')}">AntragDatum</td>
                                                    <td th:switch="${girokontoantrag.antragStatus}">
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT}" class="status text-success" >&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).ABGELEHNT}" class="status text-danger">&bull;</span>
                                                        <span th:case="${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}" class="status text-warning">&bull;</span>
                                                        <span th:text="${girokontoantrag.antragStatus.getDisplayName()}">AntragStatus</span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/kunde/banking/giro/showGiroAntragDetailPage(antragId=${girokontoantrag.id})}"
                                                           class="btn btn-info btn-sm">
                                                            Details
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div th:if="${#lists.isEmpty(girokontoantragliste) && #lists.isEmpty(sparkontoantragliste) && #lists.isEmpty(kreditkontoantragliste)} " class="mb-2 pl-4">Derzeit keine Anträge gespeichert!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-4">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-xl-10">
                        <div class="accordion" id="accordion3">
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <div class="row">
                                        <div class="col-3 pl-0">
                                            <h2 class="mb-0">
                                                <button class="btn btn-outline-dark text-left float-left" data-target="#collapse3" aria-controls="collapse3" type="button" data-toggle="collapse" aria-expanded="true">
                                                    Konten einsehen.
                                                </button>
                                            </h2>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Konten gesamt: ' + kontenGesamt}"> Konten gesamt: </div>
                                            <div class="text-right text-secondary mp-0 small" th:text="${'Offene Konten: ' + offeneKontenGesamt}"> offene Konten: </div>
                                        </div>
                                        <div class="col">
                                            <div class="text-right text-secondary mp-0 small">
                                                <span th:text="'GesamtSaldo: '"></span>
                                                <span th:classappend="${gesamtSaldoOffenerKonten != null && gesamtSaldoOffenerKonten >= 0 ? 'text-success' : 'text-danger'}" th:text="${#numbers.formatDecimal(gesamtSaldoOffenerKonten, 1, 'POINT', 2, 'COMMA')} + ' €'"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse" data-parent="#accordion3" id="collapse3" aria-labelledby="heading3" >
                                    <div class="card-body">
                                        <th:block th:each="sparkonto : ${sparkontenliste}">
                                            <div class="card-header border-light rounded mt-2">
                                                <div class="row">
                                                    <div class="col-3 pl-0">
                                                        <h2 class="mb-0">
                                                            <a th:href="@{/kunde/banking/sparen/showKontoDetailPage(kontoId=${sparkonto.id})}"
                                                               th:text="${sparkonto.kontonummer + ' Details'}"
                                                               class = "btn btn-outline-dark text-left float-left">
                                                               Kontonummer
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="text-right text-secondary mp-0 small" th:text="'Inhaber: ' + ${kunde.nachname} + ', ' + ${kunde.vorname}"> Inhaber:</div>
                                                        <div class="text-right text-secondary mp-0 small" th:text="'Status: ' + ${sparkonto.kontoStatus.getDisplayName()}"> Status:</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-right text-secondary mp-0 small">
                                                            <span th:text="'KontoSaldo: '"></span>
                                                            <span th:classappend="${sparkonto.aktSaldo >= 0 ? 'text-success' : 'text-danger'}" th:text="${sparkonto.aktSaldo} + ' €'"></span>
                                                        </div>
                                                        <div class="text-right text-secondary mp-0 small" th:text="'KontoTyp: ' + ${sparkonto.getClass().getSimpleName()}"> KontoTyp:</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:each="kreditkonto : ${kreditkontenliste}">
                                            <div class="card-header border-light rounded mt-2">
                                                <div class="row">
                                                    <div class="col-3 pl-0">
                                                        <h2 class="mb-0">
                                                            <a th:href="@{/kunde/banking/kredit/showKontoDetailPage(kontoId=${kreditkonto.id})}"
                                                               th:text="${kreditkonto.kontonummer + ' Details'}"
                                                               class = "btn btn-outline-dark text-left float-left">
                                                                Kontonummer
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="text-right text-secondary mp-0 small" th:text="'Inhaber: ' + ${kunde.nachname} + ', ' + ${kunde.vorname}"> Inhaber:</div>
                                                        <div class="text-right text-secondary mp-0 small" th:text="'Status: ' + ${kreditkonto.kontoStatus.getDisplayName()}"> Status:</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-right text-secondary mp-0 small">
                                                            <span th:text="'KontoSaldo: '"></span>
                                                            <span th:classappend="${kreditkonto.aktSaldo > 0 ? 'text-success' : 'text-danger'}" th:text="${kreditkonto.aktSaldo} + ' €'"></span>
                                                        </div>
                                                        <div class="text-right text-secondary mp-0 small" th:text="'KontoTyp: ' + ${kreditkonto.getClass().getSimpleName()}"> KontoTyp:</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:each="girokonto : ${girokontenliste}">
                                            <div class="card-header border-light rounded mt-2">
                                                <div class="row">
                                                    <div class="col-3 pl-0">
                                                        <h2 class="mb-0">
                                                            <a th:href="@{/kunde/banking/giro/showKontoDetailPage(kontoId=${girokonto.id})}"
                                                               th:text="${girokonto.kontonummer + ' Details'}"
                                                               class = "btn btn-outline-dark text-left float-left">
                                                                Kontonummer
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="text-right text-secondary mp-0 small" th:text="'Inhaber: ' + ${kunde.nachname} + ', ' + ${kunde.vorname}"> Inhaber:</div>
                                                        <div class="text-right text-secondary mp-0 small" th:text="'Status: ' + ${girokonto.kontoStatus.getDisplayName()}"> Status:</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-right text-secondary mp-0 small">
                                                            <span th:text="'KontoSaldo: '"></span>
                                                            <span th:classappend="${girokonto.aktSaldo > 0 ? 'text-success' : 'text-danger'}" th:text="${girokonto.aktSaldo} + ' €'"></span>
                                                        </div>
                                                        <div class="text-right text-secondary mp-0 small" th:text="'KontoTyp: ' + ${girokonto.getClass().getSimpleName()}"> KontoTyp:</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                        <div th:if="${#lists.isEmpty(sparkontenliste) && #lists.isEmpty(kreditkontenliste) && #lists.isEmpty(girokontenliste)} " class="mb-2 pl-4">Derzeit keine aktiven Konten gespeichert!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>


</html>
