<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kunde/mainlayout.html}">
<head>
    <title>Neue Einzahlung</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid px-2">
            <div class="row">
                <div class="col-10">
                    <h3>Neue Einzahlung</h3>
                    <hr>

                    <p class="h4 mb-4">Neue Einzahlung</p>

                    <div th:if="${errorObj}">
                        <div class="alert alert-danger">
                            Schwerer Fehler: gewählte Kontonummer nicht beim Kunden verfügbar... Anzeige is raus!
                        </div>
                    </div>

                    <form action="#" th:action="@{/kunde/banking/sparen/saveEinzahlungsFormWithKonto}"
                          th:object="${zahlungsAuftrag}" method="POST">

                        <div class="form-group">
                               <span class="text-danger"
                                     th:if="${#fields.hasErrors('kontonummer')}"
                                     th:errors="*{kontonummer}">kontonummer Error</span>
                            <label for="kontonummer">Kontonummer:</label>
                            <select th:field="*{kontonummer}" class="form-control mb-4 col-8" id="kontonummer">
                                <option value="" th:selected="${requestedKontonummer == null}" disabled>Konto auswählen... </option>
                                <th:block th:each="kontonummer : ${kontonummerAuswahl}">
                                    <option th:text="${kontonummer}" th:value="${kontonummer}" th:selected="${requestedKontonummer == kontonummer}"></option>
                                </th:block>
                            </select>
                        </div>

                        <span class="text-danger"
                              th:if="${#fields.hasErrors('auftragsDatum')}"
                              th:errors="*{auftragsDatum}">auftragsDatum Error</span>
                        <label for="auftragsDatum">Auftrags Datum:</label>
                        <input type="date" th:field="*{auftragsDatum}"
                               class="form-control mb-4 col-8" id ="auftragsDatum" placeholder ="auftragsDatum">

                        <span class="text-danger"
                              th:if="${#fields.hasErrors('betrag')}"
                              th:errors="*{betrag}">betrag Error</span>
                        <label for="betrag">Betrag:</label>
                        <input type="text" th:field="*{betrag}"
                               class="form-control mb-4 col-8" id="betrag" placeholder ="12.345,12 €">

                        <span class="text-danger"
                              th:if="${#fields.hasErrors('auftragsArt')}"
                              th:errors="*{auftragsArt}">auftragsArt Error</span>
                        <label for="auftragsArt">Auftrags Art:</label>
                        <input type="text" th:field="*{auftragsArt}"
                               class="form-control mb-4 col-8" id="auftragsArt" placeholder ="Einzahlung/Auszahlung" readonly>


                        <button type="submit" class="btn btn-info col-8">Save</button>

                    </form>

                    <hr>
                    <a th:href="@{/kunde/banking/index}">Back to Overview</a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>-->
