<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:form="http://www.springframework.org/tags/form">
<head>
    <title>Doesnt Matter</title>
</head>
<body>


<div id="app" class="container">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="topNavigation">

        <a class="navbar-brand" th:href="@{~/mitarbeiter/index}">MyEck Logo</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:class="${#strings.equals(activeLink, 'MitarbeiterHome')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/index}">Home <span class="sr-only">(current)</span></a>
            </li>

<!--            <li class="nav-item dropdown">
                &lt;!&ndash;                <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/admin/mitarbeiterAdministration')} ? 'nav-link active' : 'nav-link'" th:href="@{/mitarbeiter/admin/mitarbeiterAdministration/list}">Mitarbeiter</a>&ndash;&gt;
                <a class="nav-link dropdown-toggle" th:classappend="${(#strings.startsWith(requestURI, '/kunde/sparen') ? 'active' : '') + (#strings.startsWith(requestURI, '/kunde/banking/sparen') ? 'active' : '')}"
                   id="sparenDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sparen</a>
                <div class="dropdown-menu animated&#45;&#45;fade-in" aria-labelledby="sparenDropdown">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeSparenHome')} ? 'text-primary' : ''" th:href="@{/kunde/sparen/index}">Allgemeine Information</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeSparenRechner1')} ? 'text-primary' : ''" th:href="@{/kunde/sparen/rechner}">Spar-Rechner</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeSparenRechner2')} ? 'text-primary' : ''" th:href="@{/kunde/sparen/rechner2}">Spar-Rechner2</a>
                    <hr class="my-1">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingSparenForm')} ? 'text-primary' : ''" th:href="@{/kunde/banking/sparen/register}">Eröffnen</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingSparenUebersicht')} ? 'text-primary' : ''" th:href="@{/kunde/banking/sparen/sparkontouebersicht}">Sparkonto Übersicht</a>
                </div>
            </li>-->

            <li class="nav-item">
                <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/admin/mitarbeiterAdministration')} ? 'nav-link active' : 'nav-link'" th:href="@{/mitarbeiter/admin/mitarbeiterAdministration/list}">Mitarbeiter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BlaBla</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <span class="navbar-text">Logged user: <span  sec:authentication="name">not Logged in</span></span>
            <li class="nav-item">
                <form th:action="@{/mitarbeiter/logoutpage}" method="POST">
                    <input class="btn btn-outline-success mx-2" type="submit" value="Logout"/>
                </form>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>