<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:form="http://www.springframework.org/tags/form">
<head>
    <title>Doesnt Matter</title>
</head>
<body>


<div id="app" class="container">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="topNavigation">

        <a class="navbar-brand" th:href="@{~/mitarbeiter/index}">MyEck Logo</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:class="${#strings.equals(activeLink, 'MitarbeiterHome')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/index}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/admin/mitarbeiterAdministration')} ? 'nav-link active' : 'nav-link'" th:href="@{/mitarbeiter/admin/mitarbeiterAdministration/list}">Mitarbeiter</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <span class="navbar-text">Logged user: <span  sec:authentication="name">not Logged in</span></span>
            <li class="nav-item">
                <form th:action="@{/mitarbeiter/logoutpage}" method="POST">
                    <input class="btn btn-outline-success mx-2" type="submit" value="Logout"/>
                </form>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>