<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Doesnt Matter</title>
</head>
<body>
    <div th:fragment="sideNavigation" id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a th:class="${#strings.equals(activeLink, 'MitarbeiterHome')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/index}">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Home
                        </a>
                        <div sec:authorize="hasAuthority('admin')">
                            <a class="nav-link collapsed" href="#" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/admin')}  ? 'active' : ''"
                               data-toggle="collapse" data-target="#admincollapse" aria-expanded="false" aria-controls="admincollapse">
                                <div class="sb-nav-link-icon"><i class="fas fa-coins"></i></div>
                                Admin
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/admin')} ? 'show' : ''"
                                 id="admincollapse" aria-labelledby="heading1" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{~/mitarbeiter/admin/mitarbeiterAdministration/list}" >
                                        <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
                                        Mitarbeiter
                                    </a>
                                    <a class="nav-link" th:href="@{~/mitarbeiter/admin/rollen/index}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-calculator"></i></div>
                                        Rollen
                                    </a>
                                </nav>
                            </div>
                        </div>

                        <div sec:authorize="hasAuthority('mitarbeiter')">
                            <a class="nav-link collapsed" href="#" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde')}  ? 'active' : ''"
                               data-toggle="collapse" data-target="#collapsekunde" aria-expanded="false" aria-controls="collapsekunde">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Kunde
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsekunde" aria-labelledby="headingTwo" data-parent="#sidenavAccordion" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde')} ? 'show' : ''" >
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages2">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth2" aria-expanded="false" aria-controls="pagesCollapseAuth2"
                                       th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/sparen')} ? 'active' : ''">
                                        Sparen
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth2" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages2" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/sparen')} ? 'show' : ''">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/sparen/antrag')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/kunde/sparen/antrag}">
                                                AntragsBearbeitung
                                            </a>
                                            <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/sparen/konto')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/kunde/sparen/kontoBearbeitung}">
                                                KontoBearbeitung
                                            </a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError2" aria-expanded="false" aria-controls="pagesCollapseError2"
                                       th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/kredit')} ? 'active' : ''">
                                        Kredit
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError2" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages2" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/kredit')} ? 'show' : ''">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/kredit/antrag')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/kunde/kredit/antrag}">
                                                AntragsBearbeitung
                                            </a>
                                            <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/kredit/konto')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/kunde/kredit/kontoBearbeitung}">
                                                KontoBearbeitung
                                            </a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError3" aria-expanded="false" aria-controls="pagesCollapseError3"
                                       th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/giro')} ? 'active' : ''">
                                        Giro
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError3" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages2" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/giro')} ? 'show' : ''">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/giro/antrag')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/kunde/giro/antrag}">
                                                AntragsBearbeitung
                                            </a>
                                            <a th:class="${#strings.startsWith(requestURI, '/mitarbeiter/kunde/giro/konto')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/kunde/giro/kontoBearbeitung}">
                                                KontoBearbeitung
                                            </a>
                                        </nav>
                                    </div>
                                    <a class="nav-link" th:href="@{/mitarbeiter/kunde/kundensuche}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        suche Kunde
                                    </a>
                                    <a class="nav-link" th:href="@{/mitarbeiter/kunde/kontosuche}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        suche Konto
                                    </a>
                                    <a class="nav-link" th:href="@{/mitarbeiter/kunde/antragsuche}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        suche Antrag
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>
