<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doesnt Matter</title>
</head>
<body>

<div th:fragment="sideNavigation">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" type="text/css" />
<!--<div class="container-fluid">-->
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'MitarbeiterHome')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/index}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'RollenIndex')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/admin/rollen}" >
                            Rollen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(activeLink, 'MAList')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/admin/list}">
                            MitarbeiterList
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Integrations
                        </a>
                    </li>
                    <a class="nav-link" data-toggle="collapse" href="#collapse" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/admin')}  ? 'nav-link active' : ''">Admin</a>
<!--                    <a class="nav-link" data-toggle="collapse" href="#collapse" >Mitarbeiter</a>-->
                    <div id="collapse" class="panel-collapse collapse" th:classappend="${#strings.startsWith(requestURI, '/mitarbeiter/admin')} ? 'show' : ''" >
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a th:class="${#strings.equals(activeLink, 'AdminMAList')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/admin/list}">
                                    Mitarbeiter
                                </a>
                            </li>
                                <li class="list-group-item"> <a th:class="${#strings.equals(activeLink, 'AdminRolleList')} ? 'nav-link active' : 'nav-link'" th:href="@{~/mitarbeiter/admin/rollen/index}">
                                    Rollen
                                </a>
                                </li>
                                <li class="list-group-item">Three</li>
                            </ul>
                            <div class="panel-footer">Footer</div>
                        </div>
                </ul>

                <!--<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
                <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--</div>-->

</body>
</html>