<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{mainlayout.html}">

<head>
    <title>Layout</title>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1> hier könnte mal eine GiroAntrags-Bearbeitungsseite für mitarbeiter auftauchen. </h1>

                    Logged user: <span sec:authentication="name">Bob</span>
                    <br>
                    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

                    <br><br>

                    <p th:text="'requestURI: ' + ${requestURI}" />

                    <p th:text="'Anzahl aller GiroAnträge: ' + ${gesamtAnzahl}" />
                    <p th:text="'Anzahl aller Genehmigten GiroAnträge: ' + ${anzahlGenehmigt}" />
                    <p th:text="'Anzahl aller Abgelehnten GiroAnträge: ' + ${anzahlAbgelehnt}" />
                    <p th:text="'Anzahl aller offenen GiroAnträge: ' + ${anzahlEingereicht}" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class ="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">

                        <tr>
                            <th>Antrag ID</th>
                            <th>Antrags-Datum</th>
                            <th>Antrags-Status</th>
                            <th>Kundennummer</th>
                            <th>Aktion</th>
                        </thead>
                        <tr th:each="giroKontoAntrag : ${offeneAntragListe}">
                            <td th:text="${giroKontoAntrag.id}">123</td>
                            <td th:text="${giroKontoAntrag.antragsDatum}">123</td>
                            <td th:text="${giroKontoAntrag.antragsStatus}">123</td>
                            <td th:text="${giroKontoAntrag.kundennummer}">123</td>
                            <td>
                                <a th:href="@{/mitarbeiter/kunde/giro/antrag/showGiroAntragForKontoForm(giroKontoAntragId=${giroKontoAntrag.id})}"
                                   class = "btn btn-info btn-sm">
                                    Bearbeiten
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>