<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{mainlayout.html}">

<head>
    <title>Layout</title>
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid">
            <div class="row">
               <div class="col-10">
                   <form action="#" th:action="@{/mitarbeiter/kunde/sparen/antrag/saveSparAntrag2KontoForm}" method="POST" >
                       <input type="hidden" th:field="${sparKontoAntrag.id}" />
                       <input type="hidden" th:field="${sparKontoAntrag.antragDatum}" />
                       <div class="form-row">
                           <div class="form-group col-md-12">
                               <h4>Antrags-Daten</h4>
                           </div>
                           <div class="form-group col-md-6">
                               <div class="text-danger"
                                    th:if="${#fields.hasErrors('sparKontoAntrag.erstAuftrag')}"
                                    th:errors="*{sparKontoAntrag.erstAuftrag}">erstAuftrag Error</div>
                               <label for="erstAuftrag">Erst-Auftrag</label>
                               <input type="text" class="form-control" id="erstAuftrag" name="erstAuftrag" placeholder="1.000.000,00 €" th:value="${#numbers.formatDecimal(sparKontoAntrag.erstAuftrag, 1, 'POINT', 2, 'COMMA')}"
                                      th:readonly="(${sparKontoAntrag.antragStatus} == ${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT})">
                           </div>
                           <div class="text-danger"
                                th:if="${#fields.hasErrors('sparKontoAntrag.dauerAuftrag')}"
                                th:errors="*{sparKontoAntrag.dauerAuftrag}">dauerAuftrag Error</div>
                           <div class="form-group col-md-6">
                               <label for="dauerAuftrag">Dauer-Auftrag</label>
                               <input type="text" class="form-control" id="dauerAuftrag" name="dauerAuftrag" placeholder="5.000,00 €" th:value="${#numbers.formatDecimal(sparKontoAntrag.dauerAuftrag, 1, 'POINT', 2, 'COMMA')}"
                                      th:readonly="(${sparKontoAntrag.antragStatus} == ${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT})">
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="antragKundennummer">Kundennummer</label>
                           <input type="text" class="form-control" id="antragKundennummer" name="antragKundennummer" placeholder="12345678" th:value="${sparKontoAntrag.kundennummer}" readonly>
                       </div>
                       <div class="form-group">
                           <label for="antragStatus">Status</label>
                           <select id="antragStatus" class="form-control" th:field="*{sparKontoAntrag.antragStatus}" th:disabled="(${sparKontoAntrag.antragStatus} == ${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT})">
                               <option th:each="antragStatusOpt : ${T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).values()}"
                                       th:value="${{antragStatusOpt}}"
                                       th:selected="${antragStatusOpt == T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum)}"
                                       th:text="${antragStatusOpt}">

                               </option>
                           </select>
                       </div>
                       <hr class="mt-5">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <h4>Kunden-Daten</h4>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vorname">Vorname</label>
                                <input type="text" class="form-control" id="vorname" name="vorname" placeholder="Vorname" th:value="${kunde.vorname}" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nachname">Nachname</label>
                                <input type="text" class="form-control" id="nachname" name="nachname" placeholder="Nachname" th:value="${kunde.nachname}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="strasse">Straße</label>
                            <input type="text" class="form-control" id="strasse" name="strasse" placeholder="Tralastraße 15/5" th:value="${kunde.adresse.strasse}" readonly>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="ort">Ort</label>
                                <input type="text" class="form-control" id="ort" name="ort" th:value="${kunde.adresse.ort}" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="land">PLZ</label>
                                <input type="text" class="form-control" id="land" name="land" th:value="${kunde.adresse.land}" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="plz">Land</label>
                                <input type="text" class="form-control" id="plz" name="plz" th:value="${kunde.adresse.plz}" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="plz">Kundennummer</label>
                                <input type="text" class="form-control" id="kundennummer" name="kundennummer" th:value="${kunde.kundennummer}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="legiCheckbox" name="legi" th:checked="${kunde.Legi}" onclick="return false;">
                            <label class="form-check-label" for="legiCheckbox">
                                ist Legitimiert
                            </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="active" id="aktivCheckbox" th:checked="${kunde.active}" onclick="return false;">
                                <label class="form-check-label" for="aktivCheckbox">
                                    ist Aktiv
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="hasAcceptedAGB" id="AGBCheckbox"  th:checked="${kunde.hasAcceptedAGB}" onclick="return false;">
                                <label class="form-check-label" for="AGBCheckbox">
                                    hat AGB akzeptiert
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="loginDoneCheckbox" name="firstLoginDone"  th:checked="${kunde.firstLoginDone}" onclick="return false;">
                                <label class="form-check-label" for="loginDoneCheckbox">
                                    hat AGB akzeptiert
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"
                                th:classappend="${sparKontoAntrag.antragStatus == T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT} ? 'disabled' : ''"
                                th:disabled="${sparKontoAntrag.antragStatus == T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).GENEHMIGT}">
                            Speichern
                        </button>
                       <a class="btn btn-success ml-2" th:href="@{/mitarbeiter/kunde/sparen/antrag}">
                           Zurück zu Neue Anträge
                       </a>
                   </form>
               </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>