<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:form="http://www.springframework.org/tags/form">
<head>
    <title>Doesnt Matter</title>
</head>
<body class="sb-nav-fixed">


<div id="app" class="container">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="topNavigation">
        <a class="navbar-brand" th:href="@{~/kunde/index}">MyEck Logo</a>
        <div  sec:authorize="isFullyAuthenticated()">
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div sec:authorize="!isFullyAuthenticated()">
                    <a th:class="${#strings.equals(activeLink, 'KundeHome')} ? 'nav-link active' : 'nav-link'" th:href="@{~/kunde/index}">Home</a>
                </div>
                <div sec:authorize="isFullyAuthenticated()">
                    <a th:class="${#strings.equals(activeLink, 'KundeBankingHome')} ? 'nav-link active' : 'nav-link'" th:href="@{~/kunde/banking/index}">Home</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:classappend="${(#strings.startsWith(requestURI, '/kunde/sparen') ? 'active' : '') + (#strings.startsWith(requestURI, '/kunde/banking/sparen') ? 'active' : '')}"
                   id="sparenDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sparen</a>
                <div class="dropdown-menu animated--fade-in" aria-labelledby="sparenDropdown">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeSparenHome')} ? 'text-primary' : ''" th:href="@{/kunde/sparen/index}">Allgemeine Information</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeSparenRechner1')} ? 'text-primary' : ''" th:href="@{/kunde/sparen/rechner}">Spar-Rechner</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeSparenRechner2')} ? 'text-primary' : ''" th:href="@{/kunde/sparen/rechner2}">Spar-Rechner2</a>
                    <hr class="my-1">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingSparenForm')} ? 'text-primary' : ''" th:href="@{/kunde/banking/sparen/register}">Eröffnen</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingSparenUebersicht')} ? 'text-primary' : ''" th:href="@{/kunde/banking/sparen/sparkontouebersicht}">Sparkonto Übersicht</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:classappend="${(#strings.startsWith(requestURI, '/kunde/kredit') ? 'active' : '') + (#strings.startsWith(requestURI, '/kunde/banking/kredit') ? 'active' : '')}"
                   id="kreditDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kredit</a>
                <div class="dropdown-menu" aria-labelledby="kreditDropdown">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeKreditHome')} ? 'text-primary' : ''" th:href="@{/kunde/kredit/index}">Allgemeine Information</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeKreditRechner')} ? 'text-primary' : ''" th:href="@{/kunde/kredit/rechner}">Kredit-Rechner</a>
                    <hr class="my-1">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingKreditForm')} ? 'text-primary' : ''" th:href="@{/kunde/banking/kredit/register}">Eröffnen</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingKreditUebersicht')} ? 'text-primary' : ''" th:href="@{/kunde/banking/kredit/kreditkontouebersicht}">Kreditkonto Übersicht</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:classappend="${(#strings.startsWith(requestURI, '/kunde/giro') ? 'active' : '') + (#strings.startsWith(requestURI, '/kunde/banking/giro') ? 'active' : '')}"
                   id="giroDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Giro-Konto</a>
                <div class="dropdown-menu" aria-labelledby="giroDropdown">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeGiroHome')} ? 'text-primary' : ''" th:href="@{/kunde/giro/index}">Allgemeine Information</a>
                    <hr class="my-1">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingGiroForm')} ? 'text-primary' : ''" th:href="@{/kunde/banking/giro/register}">Eröffnen</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankingGiroUebersicht')} ? 'text-primary' : ''" th:href="@{/kunde/banking/giro/girokontouebersicht}">Girokonto Übersicht</a>
                </div>
            </li>
           <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:classappend="${#strings.startsWith(requestURI, '/kunde/bank/') ? 'active' : ''}"
                   id="wirDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Über uns</a>
                <div class="dropdown-menu" aria-labelledby="wirDropdown">
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankPhilosophie')} ? 'text-primary' : ''" th:href="@{/kunde/bank/philosophie}">Philosophie</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankKarriere')} ? 'text-primary' : ''" th:href="@{/kunde/bank/karriere}">Karriere</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankKontakt')} ? 'text-primary' : ''" th:href="@{/kunde/bank/kontakt}">Kontakt</a>
                    <a class="dropdown-item" th:classappend="${#strings.equals(activeLink, 'kundeBankImpressum')} ? 'text-primary' : ''" th:href="@{/kunde/bank/impressum}">Impressum</a>
                </div>
            </li>-->
        </ul>
        <ul class="navbar-nav">
            <div sec:authorize="isFullyAuthenticated()">
                <li class="nav-item">
                    <form th:action="@{/kunde/banking/logoutpage}" method="POST">
                        <input class="btn btn-outline-success mx-2" type="submit" value="Logout"/>
                    </form>
                </li>
            </div>
            <div sec:authorize="!isFullyAuthenticated()">
                <li class="nav-item">
                    <form th:action="@{/kunde/banking/loginpage}" method="GET">
                       <input class="btn btn-outline-success mx-2" type="submit" value="Login"/>
                    </form>
                </li>
            </div>
            <div sec:authorize="isFullyAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/kunde/banking/kunde-detailpage}">Persönliche Daten</a>
                        <a class="dropdown-item" th:href="@{/kunde/banking/showChangePasswordForm}">Passwort ändern</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href=@{/kunde/banking/logoutpage}>Logout</a>
                    </div>
                </li>
            </div>
        </ul>
    </nav>
</div>


</body>
</html>