<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}">
<head>
    <title>Neue Einzahlung</title>
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="container-fluid">
            <form action="#" th:action="@{/mitarbeiter/kunde/kredit/konto/saveEinzahlungsForm}" th:object="${zahlungsAuftrag}" method="POST">
                <h1> Kontosuche </h1>
                <div class="form-row">
                    <div class="form-group col-4">
                        <input type="hidden" th:field="${zahlungsAuftrag.id}" />
                        <span class="text-danger"
                              th:if="${#fields.hasErrors('kontonummer')}"
                              th:errors="*{kontonummer}">kontonummer Error</span>
                        <label for="kontonummer">Kreditkonto:</label>
                        <select th:field="*{kontonummer}" class="form-control mb-4 col-8" id="kontonummer">
                            <option value="" th:selected="${requestedKontonummer == null}" disabled>Konto auswählen... </option>
                            <th:block th:each="kontonummer : ${kontonummerAuswahl}">
                                <option th:text="${kontonummer}" th:value="${kontonummer}" th:selected="${requestedKontonummer == kontonummer}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <span class="text-danger"
                              th:if="${#fields.hasErrors('auftragsDatum')}"
                              th:errors="*{auftragsDatum}">auftragsDatum Error</span>
                        <label for="auftragsDatum">Auftrags Datum:</label>
                        <input type="date" th:field="*{auftragsDatum}"
                               class="form-control mb-4 col-8" id ="auftragsDatum" placeholder ="auftragsDatum">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <span class="text-danger"
                              th:if="${#fields.hasErrors('betrag')}"
                              th:errors="*{betrag}">betrag Error</span>
                        <label for="betrag">Betrag:</label>
                        <input type="text" th:field="*{betrag}"
                               class="form-control mb-4 col-8" id="betrag" placeholder ="12.345,12 €">
                    </div>
                    <div class="form-group col-4">
                        <span class="text-danger"
                              th:if="${#fields.hasErrors('auftragsArt')}"
                              th:errors="*{auftragsArt}">auftragsArt Error</span>
                        <label for="auftragsArt">Auftrags Art:</label>
                        <input type="text" th:field="*{auftragsArt}"
                               class="form-control mb-4 col-8" id="auftragsArt" placeholder ="Einzahlung/Auszahlung" readonly>
                        </div>
                    </div>
                    <div class="form row">
                        <div class="form-group col-8">
                            <button type="submit" class="btn btn-info">Speichern</button>
                            <hr>
                        </div>
                    </div>
            </form>
            <a th:href="@{/mitarbeiter/kunde/kredit/konto/showKreditKontoDetailPage(kreditKontoId=${kreditkonto.id})}">Zurück zur Kreditkonto-Übersicht</a>
        </div>
    </main>
</div>
</body>
</html>