<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"

      layout:decorate="~{kunde/mainlayout.html}">

    <title>GiroAntragDetail Page</title>
</head>

<body>
    <div layout:fragment="content">
        <main>
            <div class="container-fluid px-0">
                <h1> AntragDetail - Girokonto </h1>
    <!--            <div th:if="${zahlungsAuftragGespeichert}">-->
    <!--                <div class="alert alert-info ">-->
    <!--                    Ihr Zahlungsauftrag wurde gespeichert. Der Status kann nun in Ihren Aufträgen eingesehen werden.-->
    <!--                </div>-->
    <!--            </div>-->
                <div class="row justify-content-md-center">
                    <div class="col-10 pt-4">
                        <form method="POST" th:action="@{/kunde/banking/giro/saveGiroAntragDetailPage}" th:object="${girokontoantrag}" id="registerForm">
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <h4>GirokontoAntrag-Daten</h4>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                              <span class="text-danger"
                                    th:if="${#fields.hasErrors('antragDatum')}"
                                    th:errors="*{antragDatum}">antragDatum Error
                              </span>
                                    <label for="antragDatum">Antrags-Datum:</label>
                                    <input type="text" class="form-control" id="antragDatum" name="antragDatum" placeholder="antragDatum" th:field="*{antragDatum}" th:value="${#temporals.format(antragDatum, 'dd.MM.yyyy HH:mm:ss')}" readonly>
                                </div>
                                <div class="form-group col-md-5">
                            <span class="text-danger"
                                  th:if="${#fields.hasErrors('antragStatus')}"
                                  th:errors="*{antragStatus}">antragStatus Error</span>
                                    <label for="antragStatus">Antrags-Status</label>
                                    <input type="text" class="form-control" id="antragStatus" name="antragStatus" placeholder="antragStatus" th:field="*{antragStatus}" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label data-toggle="collapse" th:attr="data-target=${girokontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT} ? '#collapseMuh' : '#collapseOne'" >
                                        <input type="checkbox"
                                               th:checked="*{ueberziehungsrahmenGewuenscht}"
                                               th:field="*{ueberziehungsrahmenGewuenscht}"
                                               th:attrappend="onclick=${girokontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}?'return false;'"
                                               th:disabled="${girokontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}" /> Ich wünsche einen Überziehungsrahmen
                                    </label>
                                    <div id="collapseOne" class="panel-collapse collapse in" th:classappend="${girokontoantrag.ueberziehungsrahmenGewuenscht} ? 'show' : ''">
                                        <div class="card-body">
                                            <div class="alert alert-primary" role="alert">
                                                <a>(*) Ein Überziehungsrahmen von 500,00 € wird ihnen automatisch gewährt, verrückt! Nicht wahr? Bei der HonestBank vertrauen wir unseren Kunden! .. mehr aber noch unseren Schuldeneintreibern! Die lassens knacken :)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                     <span class="text-danger"
                                           th:if="${#fields.hasErrors('kundennummer')}"
                                           th:errors="*{kundennummer}">kundennummer Error</span>
                                    <label for="kundennummer">Kundennummer:</label>
                                    <input type="text" class="form-control" id="kundennummer" name="kundennummer" th:field="*{kundennummer}" readonly>
                                </div>
                                <div class="form-group col-md-5 pt-4 justify-content-around">
                                    <a th:href="@{/kunde/banking/index}"
                                       class = "btn btn-success" >
                                        Zurück
                                    </a>
                                    <button type="submit" class="btn btn-info"
                                            th:classappend="${girokontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT} ? 'disabled' : ''"
                                            th:disabled="${girokontoantrag.antragStatus != T(at.blo0dy.SpringBank.model.enums.AntragStatusEnum).EINGEREICHT}">Daten speichern
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>