<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}">
<head>
    <title>Rollen Detail Page</title>
</head>
<body>
<div class="container">
    <div layout:fragment="content">

        <h3>Rollen - Add Rolle zu Mitarbeiter Page</h3>
        <hr>

        <p class="h4 mb-4">User Adden</p>

        <table class ="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Aktion</th>
            </thead>

            <tr th:each="mitarbeiter : ${mitarbeiter}">
                <td th:text="${mitarbeiter.vorname}">123</td>
                <td th:text="${mitarbeiter.nachname}">rolemcroleface</td>
                <td>
                    <a th:href="@{/mitarbeiter/rollen/addRoleToUser(rolleId=${rolleId}, mitarbeiterId=${mitarbeiter.Id})}"
                       class = "btn btn-info btn-sm">
                        Add User
                    </a>
                </td>
            </tr>
        </table>
        <hr>
        <a th:href="@{/mitarbeiter/rollen/showRolleDetail(rolleId=${rolleId})}">Back to Rollen Details</a>

    </div>
</div>


</body>
</html>